body, html {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
}

#login-form {
	width: 400px;
	height: 200px;
	position: absolute;
	margin: auto;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	box-shadow: 0px 0px 15px 0px #000
}

input {
	width: 90%;
	height: 20px;
	padding: 6px 5px;
	font-size: 13px;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

input:focus {
	border-color: #66afe9;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
}

#data-controls-panel {
	height: 10%;
}

#data-controls-panel #localisation-changed-only {
	width: 20px;
}

#localisation-controls input {
	width: 200px;
	margin: auto;
}

#data-controls-panel #localisation-controls {
	width: 66%;
	float: left;
	padding: 0 2%;
}

#data-controls-panel #language-controls {
	width: 30%;
	float: left;
}

#sp-key {
	width: 300px;
	height: 100px;
	padding: 50px;
}

#sp-key-value {
	height: 30px;
	font-size: 11px;
}

#sp-key-ok {
	width: 70px;
	height: 30px;
	float: right;
	margin-top: 30px;
	cursor: pointer;
}

#container {
	width: 80%;
	height: 95%;
	margin: auto;
	padding-top: 2%;
	display: none;
}

.worksheet {
	height: 50px;
	width: 100%;
	display: none;
	cursor: pointer;
}

.worksheet:hover {
	background: rgba(0,0,0,0.1);
}

#worksheets {
	width: 30%;
	float: left;
	height: 90%;
}

#data {
	width: 70%;
	float: left;
	height: 90%;	
}

.translation-item {
	position: relative;
	padding: 10px;
	margin: 4px;
	cursor: pointer;
	box-shadow: 0px 0px 5px 0px #000;
}

.translation-item.changed {
	background: rgba(255,0,0,0.3);
}

.translation-item .translation-buttons-section {
	display: none;
	position: absolute;
	top: 0;
	right: 0;
}

.translation-buttons-section div{
	width: 25px;
	height: 25px;
	float: left;
	padding: 3px;
	font-size: 25px;
	text-align: center;
	line-height: 25px;
	-webkit-transition: color 0.18s linear;
	-moz-transition: color 0.18s linear;
	-o-transition: color 0.18s linear;
	-ms-transition: color 0.18s linear;
	transition: color 0.18s linear;
}

.translation-apply:hover {
	color: green;
}
.translation-cancel:hover {
	color: red;
}

.translation-item.changed .translation-buttons-section {
	display: block;
}

.translation-item:hover {
	box-shadow: 0px 0px 5px 1px #1961CC;
}

#translation-content {
	height: 100%;
}