body, html {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
}

#login-form > div {
	background: white;
	width: 400px;
	height: 200px;
	position: absolute;
	margin: auto;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	box-shadow: 0px 0px 15px 0px #000
}

input {
	width: 90%;
	height: 20px;
	padding: 6px 5px;
	font-size: 13px;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

input:focus {
	border-color: #66afe9;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
}

#data-controls-panel {
	height: 10%;
}

#data-controls-panel #localisation-changed-only {
	width: 20px;
}

#localisation-controls input {
	width: 200px;
	margin: auto;
}

#data-controls-panel #localisation-controls {
	width: 66%;
	float: left;
	padding: 0 2%;
}

#data-controls-panel #language-controls {
	width: 30%;
	float: left;
}

#sp-key {
	width: 300px;
	height: 100px;
	padding: 50px;
}

#sp-key-value {
	height: 30px;
	font-size: 11px;
}

#sp-key-ok {
	width: 70px;
	height: 30px;
	float: right;
	margin-top: 30px;
	cursor: pointer;
}

#container {
	width: 80%;
	height: 95%;
	margin: auto;
	padding-top: 2%;
	display: none;
}

.worksheet {
	height: 50px;
	width: 100%;
	display: none;
	cursor: pointer;
}

.worksheet:hover {
	background: rgba(0,0,0,0.1);
}

#worksheets {
	width: 30%;
	float: left;
	height: 90%;
}

#data {
	width: 70%;
	float: left;
	height: 90%;	
}

.translation-item {
	position: relative;
	padding: 10px;
	margin: 4px;
	cursor: pointer;
	box-shadow: 0px 0px 5px 0px #000;
}

.translation-item .translation-buttons-section {
	overflow: hidden;
}

.translation-item.changed {
	background: rgba(255,0,0,0.3);
}

.translation-item .translation-actions{
	display: none;
	position: absolute;
	top: 0;
	right: 0;
	padding: 4px;
}

.translation-item.changed .translation-actions {
	display: block;
}

.translation-buttons-section .translation-history,
.translation-buttons-section .translation-apply,
.translation-buttons-section .translation-cancel {
	width: 25px;
	height: 25px;
	float: left;
	padding: 3px;
	font-size: 25px;
	text-align: center;
	line-height: 25px;
	-webkit-transition: color 0.18s linear;
	-moz-transition: color 0.18s linear;
	-o-transition: color 0.18s linear;
	-ms-transition: color 0.18s linear;
	transition: color 0.18s linear;
}

.translation-apply:hover {
	color: green;
}
.translation-cancel:hover {
	color: red;
}
.translation-history:hover {
	color: blue;
}

.translation-item:hover {
	box-shadow: 0px 0px 5px 1px #1961CC;
}

#translation-content {
	height: 100%;
}

#popup {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: none;
}

#popup.visible {
	display: block;
}

#popup > ul {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: 0;
	padding: 0;
	list-style: none;
	background-color: rgba(0,0,0,0.3);
	z-index: 1100;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all 0.4s ease-in-out 0s;
	transition: all 0.4s ease-in-out 0s;
}

#popup.visible > ul {
	opacity: 1;
	visibility: visible;
}

#popup li {
	position: absolute;
	height: 80%;
	width: 94%;
	max-width: 980px;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto auto;
	z-index: 1200;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all 0.4s ease-in-out 0s;
	transition: all 0.4s ease-in-out 0s;
	-webkit-transform: scale(0);
	transform: scale(0);
}

#popup.visible .visible {
	opacity: 1;
	visibility: visible;
	-webkit-transform: scale(1);
	transform: scale(1);
}

#spinner > div{
	width: 30%;
	height: 50%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}

.loader {
	font-size: 20px;
	margin: 5em auto;
	width: 1em;
	height: 1em;
	border-radius: 50%;
	position: relative;
	text-indent: -9999em;
	-webkit-animation: load4 1.3s infinite linear;
	animation: load4 1.3s infinite linear;
}
@-webkit-keyframes load4 {
	0%,
	100% {
		box-shadow: 0em -3em 0em 0.2em #ffffff, 2em -2em 0 0em #ffffff, 3em 0em 0 -0.5em #ffffff, 2em 2em 0 -0.5em #ffffff, 0em 3em 0 -0.5em #ffffff, -2em 2em 0 -0.5em #ffffff, -3em 0em 0 -0.5em #ffffff, -2em -2em 0 0em #ffffff;
	}
	12.5% {
		box-shadow: 0em -3em 0em 0em #ffffff, 2em -2em 0 0.2em #ffffff, 3em 0em 0 0em #ffffff, 2em 2em 0 -0.5em #ffffff, 0em 3em 0 -0.5em #ffffff, -2em 2em 0 -0.5em #ffffff, -3em 0em 0 -0.5em #ffffff, -2em -2em 0 -0.5em #ffffff;
	}
	25% {
		box-shadow: 0em -3em 0em -0.5em #ffffff, 2em -2em 0 0em #ffffff, 3em 0em 0 0.2em #ffffff, 2em 2em 0 0em #ffffff, 0em 3em 0 -0.5em #ffffff, -2em 2em 0 -0.5em #ffffff, -3em 0em 0 -0.5em #ffffff, -2em -2em 0 -0.5em #ffffff;
	}
	37.5% {
		box-shadow: 0em -3em 0em -0.5em #ffffff, 2em -2em 0 -0.5em #ffffff, 3em 0em 0 0em #ffffff, 2em 2em 0 0.2em #ffffff, 0em 3em 0 0em #ffffff, -2em 2em 0 -0.5em #ffffff, -3em 0em 0 -0.5em #ffffff, -2em -2em 0 -0.5em #ffffff;
	}
	50% {
		box-shadow: 0em -3em 0em -0.5em #ffffff, 2em -2em 0 -0.5em #ffffff, 3em 0em 0 -0.5em #ffffff, 2em 2em 0 0em #ffffff, 0em 3em 0 0.2em #ffffff, -2em 2em 0 0em #ffffff, -3em 0em 0 -0.5em #ffffff, -2em -2em 0 -0.5em #ffffff;
	}
	62.5% {
		box-shadow: 0em -3em 0em -0.5em #ffffff, 2em -2em 0 -0.5em #ffffff, 3em 0em 0 -0.5em #ffffff, 2em 2em 0 -0.5em #ffffff, 0em 3em 0 0em #ffffff, -2em 2em 0 0.2em #ffffff, -3em 0em 0 0em #ffffff, -2em -2em 0 -0.5em #ffffff;
	}
	75% {
		box-shadow: 0em -3em 0em -0.5em #ffffff, 2em -2em 0 -0.5em #ffffff, 3em 0em 0 -0.5em #ffffff, 2em 2em 0 -0.5em #ffffff, 0em 3em 0 -0.5em #ffffff, -2em 2em 0 0em #ffffff, -3em 0em 0 0.2em #ffffff, -2em -2em 0 0em #ffffff;
	}
	87.5% {
		box-shadow: 0em -3em 0em 0em #ffffff, 2em -2em 0 -0.5em #ffffff, 3em 0em 0 -0.5em #ffffff, 2em 2em 0 -0.5em #ffffff, 0em 3em 0 -0.5em #ffffff, -2em 2em 0 0em #ffffff, -3em 0em 0 0em #ffffff, -2em -2em 0 0.2em #ffffff;
	}
}
@keyframes load4 {
	0%,
	100% {
		box-shadow: 0em -3em 0em 0.2em #ffffff, 2em -2em 0 0em #ffffff, 3em 0em 0 -0.5em #ffffff, 2em 2em 0 -0.5em #ffffff, 0em 3em 0 -0.5em #ffffff, -2em 2em 0 -0.5em #ffffff, -3em 0em 0 -0.5em #ffffff, -2em -2em 0 0em #ffffff;
	}
	12.5% {
		box-shadow: 0em -3em 0em 0em #ffffff, 2em -2em 0 0.2em #ffffff, 3em 0em 0 0em #ffffff, 2em 2em 0 -0.5em #ffffff, 0em 3em 0 -0.5em #ffffff, -2em 2em 0 -0.5em #ffffff, -3em 0em 0 -0.5em #ffffff, -2em -2em 0 -0.5em #ffffff;
	}
	25% {
		box-shadow: 0em -3em 0em -0.5em #ffffff, 2em -2em 0 0em #ffffff, 3em 0em 0 0.2em #ffffff, 2em 2em 0 0em #ffffff, 0em 3em 0 -0.5em #ffffff, -2em 2em 0 -0.5em #ffffff, -3em 0em 0 -0.5em #ffffff, -2em -2em 0 -0.5em #ffffff;
	}
	37.5% {
		box-shadow: 0em -3em 0em -0.5em #ffffff, 2em -2em 0 -0.5em #ffffff, 3em 0em 0 0em #ffffff, 2em 2em 0 0.2em #ffffff, 0em 3em 0 0em #ffffff, -2em 2em 0 -0.5em #ffffff, -3em 0em 0 -0.5em #ffffff, -2em -2em 0 -0.5em #ffffff;
	}
	50% {
		box-shadow: 0em -3em 0em -0.5em #ffffff, 2em -2em 0 -0.5em #ffffff, 3em 0em 0 -0.5em #ffffff, 2em 2em 0 0em #ffffff, 0em 3em 0 0.2em #ffffff, -2em 2em 0 0em #ffffff, -3em 0em 0 -0.5em #ffffff, -2em -2em 0 -0.5em #ffffff;
	}
	62.5% {
		box-shadow: 0em -3em 0em -0.5em #ffffff, 2em -2em 0 -0.5em #ffffff, 3em 0em 0 -0.5em #ffffff, 2em 2em 0 -0.5em #ffffff, 0em 3em 0 0em #ffffff, -2em 2em 0 0.2em #ffffff, -3em 0em 0 0em #ffffff, -2em -2em 0 -0.5em #ffffff;
	}
	75% {
		box-shadow: 0em -3em 0em -0.5em #ffffff, 2em -2em 0 -0.5em #ffffff, 3em 0em 0 -0.5em #ffffff, 2em 2em 0 -0.5em #ffffff, 0em 3em 0 -0.5em #ffffff, -2em 2em 0 0em #ffffff, -3em 0em 0 0.2em #ffffff, -2em -2em 0 0em #ffffff;
	}
	87.5% {
		box-shadow: 0em -3em 0em 0em #ffffff, 2em -2em 0 -0.5em #ffffff, 3em 0em 0 -0.5em #ffffff, 2em 2em 0 -0.5em #ffffff, 0em 3em 0 -0.5em #ffffff, -2em 2em 0 0em #ffffff, -3em 0em 0 0em #ffffff, -2em -2em 0 0.2em #ffffff;
	}
}