script#history-translation-item-template(type="text/x-jQuery-tmpl")
	.history-translation-item
		.history-translation-value(title='Translation')
			i.fa.fa-refresh ${translation}
		.history-translation-changed(title='Change date')
			i.fa.fa-calendar ${createdAt}
