script#user-template(type="text/x-jQuery-tmpl")
	.user
		.user-info
			.user-name ${name}
			.user-pass ${pass}
			.user-role ${role}
		.update-section
			.update-button
		.apply-changes-section
			.apply-button
			.cancel-button
