doctype html
html(lang="en")
	head
		title Localisation Helper
		link(rel="stylesheet", href="css/main.css")
		link(rel="stylesheet", href="http://malihu.github.io/custom-scrollbar/jquery.mCustomScrollbar.min.css")
		link(rel="stylesheet", href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css")
		link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Open+Sans:700,400', type='text/css')
	body
		#container
			#data-controls-panel
				#language-controls
					input#language-search(type='text', placeholder="Search by language")
					button#create-new-localisation New Key
					button#create-zip
						a(href="/zip?key=1LhZbstNbIyPyzwMSJyZyAmWPwtw0Uwg5aSPUaAu370s") Get ZIP
				#localisation-controls
					label(for='localisation-changed-only') Show changed only
					input#localisation-changed-only(type='checkbox')
					label(for='localisation-missed-only') Show missed only
					input#localisation-missed-only(type='checkbox')
					input#localisation-search(type='text', placeholder="Search by translations, keys...")
			#worksheets
			#data.scrollBarBox
		#popup.visible
			ul.source-list
				li#login-form
					div
						#sp-key
							input#sp-key-value(type='text', placeholder='Enter spreadsheet key', value='1LhZbstNbIyPyzwMSJyZyAmWPwtw0Uwg5aSPUaAu370s')
							button#sp-key-ok Ok
				li#spinner
					div
						.loader
				li#history
					div#history-items
					div#close-button-container
						button#close-button
							i.fa.fa-arrow-left Back
				li#localisation-new
					div
						div
							select#localisation-project
								option(value="CSB") CSB 
								option(value="VIS") VIS
						input#localisation-key(placeholder="Key", value="Key") 
						input#localisation-context(placeholder="Context", value="Context") 
						input#localisation-original(placeholder="Original value (English)", value="Original value (English)") 
						input#localisation-translation(placeholder="Translation", value="Translation") 
						div#buttons-section
							button#localisation-new-cancel Close
							button#localisation-new-ok Create

		script(type="text/javascript", src="http://code.jquery.com/jquery-2.1.0.min.js")
		script(type="text/javascript", src="https://ajax.aspnetcdn.com/ajax/jquery.templates/beta1/jquery.tmpl.js")
		script(type="text/javascript", src="lib/underscore.js")
		script(type="text/javascript", src="http://malihu.github.io/custom-scrollbar/jquery.mCustomScrollbar.concat.min.js")
		script(type="text/javascript", src="js/pageController.js")
		script(type="text/javascript", src="js/main.js")
		include templates/history-translation-item-template
		include templates/translation-item-template
		include templates/worksheet-template