doctype html
html(lang="en")
	head
		title Localisation Helper
		link(rel="stylesheet", href="css/main.css")
		link(rel="stylesheet", href="css/alertify.core.css")
		link(rel="stylesheet", href="css/alertify.default.css")
		link(rel="stylesheet", href="css/datetime.css")
		link(rel="stylesheet", href="css/hint.min.css")
		link(rel="stylesheet", href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css")
		link(rel="stylesheet", href="css/introjs.min.css")
		link(rel="stylesheet", href="css/introjs-nassim.css")
		link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Open+Sans:700,400', type='text/css')
	body
		#container.visible
			#data-controls-panel
				#language-controls
					input#language-search(type='text', placeholder="Search by language")
				#localisation-controls
					input#localisation-search(type='text', placeholder="Search by translations, keys...")
					label(for='localisation-changed-only') Show changed only
					input#localisation-changed-only(type='checkbox')
					label(for='localisation-missed-only') Show missed only
					input#localisation-missed-only(type='checkbox')
			#worksheets.scrollBarBox
			#data.scrollBarBox
		#left-button-section
			if user.role == 'admin'
				#users(class="hint--right" data-hint="Manage users")
					a(href="/accounts")
						i.fa.fa-users
			if user.role == 'admin' || user.role == 'developer'	
				#create-new-localisation(class="hint--right" data-hint="New Key")
					i.fa.fa-plus
				#create-zip(class="hint--right" data-hint="Create zip")
					a(href="/zip")
						i.fa.fa-file-archive-o
				#get-diff(class="hint--right" data-hint="Get diff")
					i.fa.fa-random
				#check-consistency(class="hint--right", data-hint="Check spreadsheet consistency")
					i.fa.fa-check
			if user.role == 'admin'
				#change-spreadsheet(class="hint--right" data-hint="Change spreadsheet key")
					i.fa.fa-repeat
			#intro(class="hint--right", data-hint="Introduction")
				i.fa.fa-question
			#logout(class="hint--right" data-hint="Logout")
				a(href="/logout") 
					i.fa.fa-power-off
		#popup
			ul.source-list
				li#spreadsheet-form
					div
						form(action="/newkey", method="POST")
							input#sp-key-value(type='text', placeholder='Enter spreadsheet key', value='#{key}', name="key")
							input(type="submit", value="OK")
						.close-button
							i.fa.fa-close
				li#spinner
					div
						.loader
				li#history
				li#localisation-new
					div
						h2 New key
						div
							select#localisation-project
								option(value="CSB") CSB 
								option(value="VIS") VIS
						input#localisation-key(placeholder="Key", value="") 
						input#localisation-context(placeholder="Context", value="") 
						input#localisation-original(placeholder="Original value (English)", value="") 
						div#buttons-section
							button#localisation-new-ok Create
						.close-button
							i.fa.fa-close
				li#diff
					div
						div#diff-filters
							input#date-from
							input#date-to
							button#request-diff Get
						#diff-content
						.close-button
							i.fa.fa-close
				li#consistency-form
					div
						#consistency-content.scrollBarInner
						div#buttons-section
							//- button#fix-inconsistency Fix this
						.close-button
							i.fa.fa-close

		script(type="text/javascript", src="http://code.jquery.com/jquery-2.1.0.min.js")
		script(type="text/javascript", src="https://ajax.aspnetcdn.com/ajax/jquery.templates/beta1/jquery.tmpl.js")
		script(type="text/javascript", src="lib/underscore.js")
		script(type="text/javascript", src="lib/moment.js")
		script(type="text/javascript", src="lib/alertify.js")
		script(type="text/javascript", src="lib/datetime.js")
		script(type="text/javascript", src="lib/jdatetime.js")
		script(type="text/javascript", src="lib/intro.min.js")
		script(type="text/javascript", src="js/pageController.js")
		script(type="text/javascript", src="js/main.js")
		include templates/existed-localisations-template
		include templates/history-translation-template
		include templates/translation-item-template
		include templates/consistency-template
		include templates/worksheet-template
		include templates/diff-template