doctype html
html(lang="en")
	head
		title Localisation Helper
		link(rel="stylesheet", href="css/main.css")
		link(rel="stylesheet", href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css")
	body
		#popup.visible
			ul.source-list
				li#login-form.visible
					div
						form(action="/login", method="POST")
							h2 Login
								input#login-form-name(name="name", value="user")
								input#login-form-password(name="pass", type="password", value="12345")
								#error-message #{error}
								input#login-form-ok(type="submit", value="Login")
		script(type="text/javascript", src="http://code.jquery.com/jquery-2.1.0.min.js")